In [54]:
import pandas as pd
from sklearn.model_selection import ShuffleSplit

In [55]:
job_change = pd.read_csv('data/aug_train.csv')

In [56]:
job_change

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14,NaN,NaN,1,42,1.0
19154,31398,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52,1.0
19155,24576,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44,0.0
19156,5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,NaN,<1,500-999,Pvt Ltd,2,97,0.0
19157,23834,city_67,0.855,NaN,No relevent experience,no_enrollment,Primary School,NaN,2,NaN,NaN,1,127,0.0

In [61]:
split = ShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_cv_index, test_index in split.split(job_change):
    train_cv_set = job_change.iloc[train_cv_index]
    test_set = job_change.iloc[test_index]

In [62]:
cv_split = ShuffleSplit(n_splits=1, test_size=0.25, random_state=42)
for train_index, cv_index in cv_split.split(train_cv_set):
    train_set = train_cv_set.iloc[train_index]
    cv_set = train_cv_set.iloc[cv_index]

In [63]:
train_set["target"].unique()

array([0., 1.])

In [64]:
test_set["target"].unique()

array([0., 1.])

In [65]:
cv_set["target"].unique()

array([0., 1.])

In [66]:
train_set.to_csv('Data/train2.csv', index=False)

In [67]:
test_set.to_csv('Data/test2.csv', index=False)

In [68]:
cv_set.to_csv('Data/cv2.csv', index=False)

In [69]:
cv_set.shape

(3832, 14)

In [70]:
test_set.shape

(3832, 14)

In [71]:
train_set.shape

(11494, 14)